html {
  font-size:10px;
}


.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  height: 40vmin;
  pointer-events: none;
  filter: blur(5px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  text-align: center;
  color:rgb(98, 14, 53);
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(98, 14, 53);
  font-family: 'Nanum Gothic', sans-serif;
}

:root {
  --color1: #c2ccfc; 
  --color2: #c2ddfc;
}

@keyframes backgroundColorPalette {
  0% {
    background-color: var(--color1);
  }
  100% {
    background-color: var(--color2);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.node {
  width: 20px;
  height: 20px;
  background-color: rgb(98, 14, 53);
  outline: 1px solid rgba(97, 147, 255, 0.75);
  display: inline-block;
}

.grid {
  text-align: center;
}

/* .gridBox {

}  */

.item {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 103, 103);
  outline-color: rgb(235, 31, 31);
  outline-style: solid;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0px 0px 5px "#b391cf";
}

.Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appBody {
  background-color: #b391cf;
}

.app-grid {
  margin: 15px;
  text-align: left;
  position: relative;
  top: 100px;
  text-align: center;
}

.app-grid > * {
  display: block;
  margin: 50px;
  justify-content: center;
}

.grid-row {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  /* background-color: rgb(92, 166, 240); */
  /* column-gap: 1px; */
  padding: 5px;
}

.grid-row > * {
  margin-left: auto;
  margin-right: auto;
}

.condition-container {
  /* background-color: #2d2c2c; */
  background: #fcf1e8;
  box-shadow: transparent;/*5px 10px 8px #b391cf;*/
  border-style: solid;
  border-color: #fce8ef;
  border-radius: 25px;
  min-height: 200px;
  min-width: 200px;
  max-width: 30vh;
  max-height: 30vh;
  /* margin-top: 0;
  margin-bottom: 0; */
  margin-left: auto;
  margin-right: auto;
  /* margin: 5px; */
  text-align: center;
  line-height: 75px;
  font-size: 24px;
  aspect-ratio: 1;
  border-style: solid;
  border-color: #fcf1e8;
}

.condition-title-weather {
  font-size: 17px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}



.title {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
  position:absolute;
  top: 30px;
  text-align: left !important;
  align-items: left !important;
  font-weight: 700;
  margin-bottom: 50px;
  margin-left: 70px;
}

.weather {
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  left: 50px;
  display: flex;
  gap: 3px;
  object-fit: cover;
  position: relative;
  right: 0px;
  text-align: left; 
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin-left: 22px;
  margin-bottom: 12px;
  margin-top: 24px;
}

.time {
  position: absolute;
}

.place {
  font-size: 1em;
  text-align: center;
  line-height: 30px;
}

body {
  background-color: #505050;
}

.menuButton{ 
  font-size: large !important;
  font-weight: 800 !important;
  width: 250px !important;
  border-radius: 200px !important;
  color:white !important;
  background-color: #ae84bd !important;
  border: none !important;
  margin-top: 50px !important;
  position: relative !important;
  box-shadow: #fce8ef !important;
  margin-left: 0px !important;
}

.menuButton:hover, button:focus {
  box-shadow: white !important;
  color:#b391cf !important;
  background-color: #fcf1e8 !important;
  transition: 0.3s;
  
}

.button {
  margin-left: auto;
  margin-right:auto;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 0px;
  /* bottom: 50px; */
  background: transparent;
  color: rgb(98, 14, 53);
  border: 2px solid #F0F0F0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 75px;

  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width: 550px;

  box-shadow: 5px 10px 8px #b391cf;
}

.button:hover, button:focus {
  background-color: white;
  color: #333333;
  
}

.label {
  position:relative;
  bottom: 100px;
}

.song-label {
  position:relative;
  display: flex;
  gap: 450px;
  min-width: 415px;
}

.current-song {
  position: relative;
  top: 5px;
  margin-bottom: 0px;
}

#weatherOnly {
  position: relative;
  left: 40px;
  bottom: 50px;
}

#weatherType {
  position: relative;
  line-height: 35px;
  bottom: 60px;
}

.body {
  background-color: #000000;
  line-height: 40px;
}

.condition-title {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.playlist-preview {
  text-align: left;
  margin-left:0px;
  margin-right:40px;
}

.playlist-selector {
  padding-top: 20px;
  position: relative;
  margin-left: 30px;
  margin-right: 70px;
}

.condition-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 0.95em;
}